*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #e2ecb9;
}

.shahrukh{
    margin-bottom: 20px;
}

form{
    border: 2px solid black;
    width: 50%;
    padding: 2%;
    border-radius: 25px;
    background-color: #2eb9db;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.label{
    font-size: 18px;
    margin-bottom: 8px;
}

.input{
    font-size: 17px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(8, 7, 7);
    outline: none;

    &:focus{
     border: 1px solid blue;
    }
}

.mb-20{
    margin-bottom: 20px;
}

.submit{
    font-size: 18px;
    padding: 12px;
    border-radius: 6px;
    width: 50%;
    &:hover{
        background-color: rgb(28, 163, 226);
        color: white;
        
    }

    &:active{
        transform: scale(0.99);
    }
}

.btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}